.main-container-profile {
    display: flex;
    background: #fff;
    flex-direction: row;
}

.middle-body-container-profile {
    width: 70%;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.right-body-container-profile {
    width: 15%;
}

.left-body-container-profile {
    width: 15%;
}

.top-body-profile{
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.user-details-profile {
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
    width: 50%;
}

.bottom-body-profile{
    display: flex;
    flex-direction: row;
}

.profile-username{
    color: #39f;
}

.profile-email{
    color: #39f;
}

p.p-photo {
    padding: 40px;
    color: #999;
}

.number-questions{
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    align-content: center;
}

.number-answers{
    height: 80px;
    width: 80px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    align-content: center;
}



.p-number-title-profile{
    color: #999;
}

.number-of-questions-profile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


p.num {
    padding: 17%;
    padding-left: 45%;
    font-weight: 900;
    color: #39f;
}

.num-answers{
    padding: 17%;
    padding-left: 35%;
    font-weight: 900;
    color: #39f;
}

p.p-number-title--answers {
    color: #999;
}

.bottom-body-profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-answered-questions{
    background-color: #f1f1f1;
    width: 49%;
}

.recent-questions{
    background-color: #f1f1f1;
    width: 49%;
}

.p-title-q {
    padding: -2px;
    padding-top: 5px;
    text-align: center;
    font-weight: 900;
    color: #39f;
}


.p-title-a {
    padding: -2px;
    padding-top: 5px;
    text-align: center;
    font-weight: 900;
    color: #39f;
}

.q-title {
    padding: 9px;
    color: #999;
}

.a-title {
    padding: 9px;
    color: #999;
}

@media (max-width: 668px) {
	.top-body-profile  {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
}

@media (max-width: 630px) {
	.bottom-body-profile  {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
}

@media (max-width: 630px) {
	.top-answered-questions  {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 100% !important;
    }
}

@media (max-width: 630px) {
    .recent-questions {
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        width: 100% !important;
    }
}

img{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
}

.body-left-profile {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.profile-image {
    width: 35%;
}

.profile-contacts {
    padding: 29px;
    font-weight: 900;
}


.h2-profile {
    margin: 20px;
}

a {
    all: unset;
}
  
a:hover {
    color: #1284ad;
}

