.reg-left-main-body{
    width: 30%;
}

.reg-main-body{
    width: 40%;
    min-height: 50vh;
}

.reg-right-main-body{
    width: 30%;
}

.reg-main-body-container{
    display: flex;
    flex-direction: row;
}

input[type="password"] {
    padding: 5px;
    border-radius: 8px !important;
    width: 100%;
    padding: 6px 0px;
    margin: 10px;
}

.reg-submit-button{
    background-color: #39f;
    border: 0 none;
    padding: 12px 18px;
    border-radius: 8px;
    color: #fff;
    padding: 12px 22px;
}

.footer-reg{
    background-color: #39f; 
    text-align: center;
    padding: 0px;
    color: #fff;
    bottom: 0;
    position: fixed;
    width:100%;
}


.login-header {
    margin: 8px;
    color: #fff;
    padding: 4px;
    border: 2px solid white;
    border-radius: 15px;
    margin-bottom: 26%;
}