.reg-left-main-body{
    width: 30%;
}

.reg-main-body{
    width: 40%;
    min-height: 50vh;
}

.reg-right-main-body{
    width: 30%;
}

.reg-main-body-container{
    display: flex;
    flex-direction: row;
}

input[type="password"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reg-submit-button{
    background-color: #39f;
    border: 0 none;
    border-radius: 8px;
    color: #fff;
    padding: 8px 20px;
}

.footer-reg{
    background-color: #39f; 
    text-align: center;
    padding: 0px;
    color: #fff;
    bottom: 0;
    position: fixed;
    width:100%;
}

div-reg-form-div > input,button {
    margin: 10px;
}